.confirm-custom {
  border-radius: 1vh;
  background-color: #151f32;
  color: #e1e5e8;
  border: none;
  padding: 0.5vh 3vh;
  margin: 1vh 1vh;
}

.randomise-custom {
  border-radius: 1vh;
  background-color: #151f32;
  color: #e1e5e8;
  border: none;
  padding: 0.5vh 3vh;
  margin: 1vh 1vh;
  float: right;
}


.message-custom {
  color: #e1e5e8;
  font-size: 2vh;
}

.reserve-custom {
  color: #e1e5e8;
  font-size: 1.5vh;
}

.ship-line-custom {
  margin-right: 200px;
  display: flex;
  width: 5vh;
  height: 2vh;
}

.ship-block-custom {
  width: 2vh;
  height: 2vh;
  background-image: url("src/assets/images/User/CellCross.png");
  background-size: cover;
}

.ship-counter-custom{
  margin: 0 20px 0 2px;
}

.ship-block-chain-custom {
  display: flex;
  width: fit-content;
}



