<div class="message-custom white text-shadow-custom">{{reserve.message}}</div>
<div class="reserve-list">
  <span class="ship-line" *ngFor="let kvp of gameService.currentRules.quantities | keyvalue">
      <span class="ship-counter text-shadow-custom"
            [ngClass]="reserve.dictionary.get(kvp.key)!.length == kvp.value? 'green': 'red'">
        {{reserve.dictionary.get(kvp.key)!.length}}/{{kvp.value}}</span>
      <span class="ship-block-chain" *ngFor="let a of [].constructor(kvp.key)">
        <span class="ship-block-user"></span>
      </span>
  </span>

  <button *ngIf="gameService.stage == gameService.stageType.Preparation" class="randomise white" (click)="clear()">Clear</button>
  <button *ngIf="gameService.stage == gameService.stageType.Preparation" class="randomise white" (click)="randomise()">Random</button>
  <button *ngIf="reserve.gameCanBeStarted" (click)="startGame()" class="confirm white">Start</button>
  <button *ngIf="reserve.restartVisible" (click)="restartGame()" class="confirm white">Restart</button>

</div>


