.settings {
  background-color: #323c4e;
  display: flex;
  flex-flow: row nowrap;
  width: 15%;
}

.game{
  display: flex;
  flex-flow: row nowrap;
  width: 85%;
  margin-right: 5px;
}

.main-custom{
  display: flex;
  flex-flow: row nowrap;
  margin: 50px 250px;
  border-radius: 5vh;
  height: 80vh;
}
